<%- include('partials/header') %>

<style>
    img{
        width: 400px;
        height: 400px;
    }
</style>


<div class="animal">

    <div id="about-college " class="about-college content-holder1 back-white " style="border-radius: 50px; margin-top: 30px; width: 700px;">
        <br>
        
        <img  class="img-responsive" style="margin-top: 5px; box-shadow: 2px 2px 4px 2px 
        rgba(0, 0, 0, 0.2);   width: 90%; border-radius: 50px;" src="/image/fooddisc.jpg.png" alt="">
        
        <br>
        <br>
        <p>
            If you want to look at the state of humans, you should look at the state of animals first. People are choosing whether or not they can feed an animal and their family. And every shelter coast-to-coast is stuffed. </p>



    </div>
 


<div class="seeavailfood">
<button class="btn2" style="color: white; height: 50px; width: 250px; border-radius: 20px;"><a href="/customerfood" style="color: white;">Check Offers</a></button>
</div>

</div>


    
</body>
</html>