<%- include('partials/header2') %>

    <h4 class="text-center" style="margin: 20px;">Available Food Items</h4>


    <% fd.forEach(function(item) { %>
        <div class="food-Detail">
  

          <h4>FLAT  70% On Pizza</h4>
          <p>Hotel name - Balaji Sarovar</p>
    </div>

      <% }) %>


      
    
    
</body>
</html>