<%- include('partials/header') %>

    <h3 class="text-center">Welcome, <%= user.name %> <%= user.surname %></h3>

    
    <!-- <button onclick="openFoodForm()">Add Food</button> -->

    <div class="orgdiv" style="margin-top: 100px;">

      <div class="organization">
      
      <a href="/addfood">   <img src="/image/addfood.jpg" alt="Food Photo">
          <h4 class="text-center">Add Food</h4>
        </div></a>
        
      </div>




    <!-- <script>
    function openFoodForm() {
      window.open("/addfood", "_blank", "width=500, height=500");
    }
    </script> -->


    


   
    
</body>
</html>