<%- include('partials/header') %>

<div class="header">

  

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>

    <div class="title">


    <h3 style="color: white; font-weight:900; font-size: 60px;">One Stop Solution for Food Waste</h3>

    <div class="buttons">
      <a class="btn btn-light btn-lg " href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg btnn" href="/login" role="button">Login</a>
      

    </div>
  </div>

    <div class="main">


      <div class="box1">
        <div class="box2">
          <h3>Vision</h3>
          <p>Our vision for the website is to create a more sustainable and equitable food system. We believe that no food should go to waste while people go hungry and animals go hungry.</p>

        </div>
        <div class="box3">

          <img  class="img-responsive" style="margin-top: 5px; box-shadow: 2px 2px 4px 2px 
          rgba(0, 0, 0, 0.2);   width: 90%; border-radius: 50px;" src="/image/waste.jpg" alt="">


        </div>
      </div>


      <div class="box4">
        <div class="box5">
          <img  class="img-responsive" style="margin-top: 5px; box-shadow: 2px 2px 4px 2px 
          rgba(0, 0, 0, 0.2);   width: 90%; border-radius: 50px;" src="/image/mission.jpg" alt="">

        </div>
        <div class="box6">

          <h3>Mission</h3>
          <p>Every year, a lot of food is thrown away in the World while many people are hungry.
             A restaurants and food stores don't know what to do with food they can't sell
             and animal shelters don't always have enough food for the animals.
            
             We need a way to connect people who have extra food with those who need it, including animal shelters. This can help reduce waste, feed hungry people, and make sure animals get enough food too.</p>

        </div>
      </div>

      <br><br>



<div class="hiw">
 
    <h3 class="text-center">How it Works?</h3> 
    <p>The web app connects 5 users: Donors, Organizations, Hotels, Customers, and Animal Shelters. Donors can donate food to Organizations, while Hotels can sell unsold food to Customers at a discount. Any wasted food from Hotels can be donated to Animal Shelters. All users create an account, list details, and arrange for pickup or delivery through the web app. The goal is to reduce food waste and provide food to those in need.</p>

    <br>
    <br>
    <br>

    <div class="pimg">
      <div class="imgg">
        <img src="/image/donor.jpg" alt="" style="height: 100px; width: 100px;">

      </div>
      <div class="ppp">
       <p> Donor: A person or organization that wants to donate food</p>


      </div>
    </div>

    <br>
    <div class="pimg">
      <div class="imgg">
        <img src="/image/organization.jpg" alt="" style="height: 100px; width: 100px;">

      </div>
      <div class="ppp">
       <p>Organization: A non-profit or charity that receives donated food</p>


      </div>
    </div>

    <br>
    <div class="pimg">
      <div class="imgg">
        <img src="/image/hotel.jpg" alt="" style="height: 100px; width: 100px;">

      </div>
      <div class="ppp">
       <p> Hotel: A business that wants to sell unsold food at a discount</p>


      </div>
    </div>

    <br>
    <div class="pimg">
      <div class="imgg">
        <img src="/image/custo.jpg" alt="" style="height: 100px; width: 100px;">

      </div>
      <div class="ppp">
       <p>  Customer: A person who wants to purchase unsold food from a hotel at a discoun</p>


      </div>
    </div>

    <br>
    <div class="pimg">
      <div class="imgg">
        <img src="/image/animal.jpg" alt="" style="height: 100px; width: 100px;">

      </div>
      <div class="ppp">
       <p>Animal Shelter: A non-profit or charity that receives wasted food from hotels for animals</p>


      </div>
    </div>

    <br>



  </div>
  <br>
  <br>
  <br>


  <div class="about" id="about">
    <h2 class="text-center">About Us </h2> 
    <p>Welcome to our food waste reduction web app! We are dedicated to reducing food waste by connecting donors, organizations, hotels, customers, and animal shelters in a unique and innovative way.</p><br>

      <p> At our core, we believe that food waste is not just an environmental issue but also a social issue. Every year, millions of tons of perfectly good food goes to waste, while at the same time, many people and animals go hungry. Our goal is to bridge this gap by connecting those who have excess food with those who need it most.</p> <br>

      
      <p> Our web app is designed to be simple and user-friendly, allowing donors to easily post their excess food and organizations, hotels, customers, and animal shelters to easily find and claim it. By streamlining this process, we hope to make it easy for anyone to contribute to reducing food waste and help make a positive impact in their communities.</p> <br>
      
      <p> We believe that everyone can play a role in reducing food waste and that small actions can lead to big changes. Whether you're a hotel with excess food, a customer with leftovers, or an animal shelter in need of donations, we welcome you to join us in our mission to reduce food waste and make a positive impact in the world.</p> <br>
      
      <p> Thank you for choosing our web app to help reduce food waste. Together, we can make a difference.</p>
  </div>

  <div class="about">
   


 



</div>

<div class="buttons">
  <a class="btn btn-light btn-lg btn1 " href="/register" role="button">Register</a>
  <a class="btn btn-dark btn-lg btn2" href="/login" role="button">Login</a>
</div>


<!-- <footer>
  <div class="foot">
  <p>Author: Hege Refsnes<br>
  <a href="mailto:hege@example.com">hege@example.com</a></p>
</div>
</footer> -->




 

<!-- 
<div class="content">

  
</div> -->



<div class="container">
  <form method="post">
    <h1>Contact Us</h1>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Enter your name">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter your email address">

    <label for="subject">Subject</label>
    <input type="text" id="subject" name="subject" placeholder="Enter the subject of your message">

    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="Enter your message"></textarea>

    <button class="btn2" style="color: white;">Submit</button>
  </form>
</div>


<footer>
  <div class="footer-content">
    <p>© 2023 Food Waste Reduction Web App. All Rights Reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a></p>
  </div>
</footer>

</div>








<%- include('partials/footer') %>
