<%- include('partials/header2') %>




    <div class="par">
      <p>"Welcome hotel owners! We offer a unique solution to reduce food waste by selling unsold food from your hotel on our platform. Join our community of conscious businesses and make a positive impact. Sign up today and start selling your surplus food!"</p>
    </div>



    <button class="btn2" style="width: 400px; height: 50px; color: white; margin-left: 540px; border-radius: 20px;"><a href="/sellunsoldfood" style="color: white;">Sell Unsold Food On Discount</a></button><br><br><br>
 
    
    <button type="button" class="collapsible btn2 text-center"  style="width: 400px; height: 50px; color: white; margin-left: 540px; border-radius: 20px;">Donate Waste Food</button>

        <div class="content">
            <h4 class="text-center">Add Food Details</h4>
            <form action="/hotel" method="POST">
        
                <label for="hotelnm">Enter Hotel Name:</label>
                <input type="text" id="hotelnm" name="hotelnm" required><br><br>

                <label for="citynm">Enter City Name:</label>
                <input type="text" id="citynm" name="citynm" required><br><br>
              
     
              
                <a onclick="getLocation()" style="color: rgb(53, 53, 237); font-weight: 700;">Click Here To Get Your Location<i class="fa-sharp fa-solid fa-location-dot"></i></a>
                <input type="hidden" id="location" name="location">
                <!-- <input type="hidden" id="lon" name="lon"> -->
              
                <button class="btn2" style="font-weight: 600; color: white; border-radius: 10px;" type="submit">Add Food Details</button>
              </form>
        
      
        </div>


        <script>
            var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}



function getLocation() {
		if (navigator.geolocation) {
		  navigator.geolocation.getCurrentPosition(showPosition);
		} else {
		  alert("Geolocation is not supported by this browser.");
		}
	  }
	  
	  function showPosition(position) {
		var lat = position.coords.latitude;
		var lon = position.coords.longitude;
		var googleMapsLink = "https://www.google.com/maps/search/?api=1&query=" + lat + "," + lon;
		var mapButton = document.createElement("a");
		mapButton.href = googleMapsLink;
		mapButton.target = "_blank";
		mapButton.innerText = "View my location on Google Maps";
		document.body.appendChild(mapButton);
	  
		// set the lat and lon values in the hidden input fields
		document.getElementById("location").value = googleMapsLink;
		// document.getElementById("lon").value = lon;
	  }



 









        </script>

</html>