<%- include('partials/header') %>

<h3 class="text-center" style="margin: 20px;">Welcome, <%= user.name %> <%= user.surname %></h3>
    

<!-- 
<a class="btn btn-light btn-lg" role="button">Check Available Food</a> -->

<div class="orgdiv">

<div class="organization">

<a href="/availableFood">   <img src="/image/foodavailable.jpg" alt="Food Photo">
    <h4 class="text-center">Check Available Food</h4>
  </div></a>
  
</div>





<%- include('partials/footer') %>
